*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background: url(../images/headerbg.png) no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;

}
.main{
    background: rgb(82, 28, 82);
    height: 100vh;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.header__nav-list{
    display: flex;
    column-gap: 30px;
    align-items: center;
    
}
.header__nav-link{
    color: white;
    font-family: arial;
    font-size: 20px;
    line-height: 20px;
}
.header__content-title{
    font-size: 60px;
    color: white;
}
.header__content-text{
    font-size: 24px;
    color: white;
}
.header__content-btn{
    background: white;
    color:black;
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header__content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__top{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}